<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/dnutiu/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="dnutiu" />
            <add key="ClearTextPassword" value="xxx" />
        </github>
    </packageSourceCredentials>
</configuration>
